body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff; 
}

.contenedor {
  background-color: rgba(100, 235, 107, 0.5);
  padding: 20px;
  border-radius: 15px; 
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: auto;
  max-width: auto;
  text-align: center;
}

.contenedor img {
  margin-top: 20px;
  width: 200px;
  height: auto;
}

.tabla {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 1);
}

.texto {
  color: #000000;
}

.encabezado,
.datos {
  border: 1px solid #000000;
  padding: 8px;
}

.encabezado {
  background-color: rgba(43, 255, 0, 0.4);
  color: #000000;
  font-size: 16px;
}

.datos a {
  color: #b44646;
  text-decoration: none;
}

.datos a:hover {
  text-decoration: underline;
}
